
/*RESET DE CSS
elimina todos los estilos predeterminados del navegador
* es el llamado selector universal de todas las etiquetas de html
*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*declaramos la variable en la raiz del documento para poder usarlas en todo el proyecto*/
:root {
    /*Nombramos a las varialbles con --nombre y les asignamos un valor*/
    --naranja: #f90;
    --negro: #000;
    --grisOscuro: #333;
    --blanco: #fff;
}


body {
    /*Para usar la variable se usa "var" y entre () en nombre de la variable c on ---*/
    background-color: var(--grisOscuro);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/pattern.jpg");
}





/*---------CABECERA-------------*/

.cabecera,
.contenido {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.cabecera {
    background-color: tomato;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.titcabe {
    color: var(--naranja);
    font-family: 'Courier New', Courier, monospace;
}




/*---------CABECERA-------------*/

.contenido {
    background-color: chocolate;
}

